.deck-container {
	background-color: #112838;
	color: #ECE8CF;
}

.deck-container .slide {
	background-color: transparent;
}

.deck-container .slide h1 {
	font-size: 4em;
	color: inherit;
}

.faded {
	opacity: 0.5;
}

.emphasis,
.deck-container .slide h2 {
	color: #D90D3D;
}

.deck-container .slide h2 {
	border-width: 0;
}

.deck-container .slide h3 {
	color: #918C6E;
}

.deck-container .slide p {
	font-size: 2em;
}

.deck-container .slide pre {
	text-align: left;
	border-color: #918C6E;
}

.slide h1, .slide .vcenter {
	text-align: inherit;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.upper {
	text-transform: uppercase;
}

