.deck-container {
	background-color: #112838;
	color: #ECE8CF;
}

.secondary {
	color: #D90D3D;
}

.deck-container .slide {
	background-color: transparent;
}

.deck-container .slide h1 {
	font-size: 4em;
	color: inherit;
}
