.deck-container {
	background-color: #112838;
	color: #ECE8CF;
}

.deck-container .slide {
	background-color: transparent;
}

.deck-container .slide h1 {
	font-size: 4em;
	color: inherit;
}

.deck-container .slide h2 {
	color: #D90D3D;
	border-width: 0;
}

.deck-container .slide h3 {
	color: #918C6E;
}

.centered.slide {
	text-align: center;
}

.deck-container .slide pre {
	text-align: left;
	border-color: #918C6E;
}
