.deck-container {
	background-color: #112838;
	color: #ECE8CF;
}

.deck-container .slide {
	background-color: transparent;
}

.deck-container .slide h1 {
	font-size: 4em;
	color: inherit;
}

.emphasis,
.deck-container .slide h2 {
	color: #D90D3D;
}

.deck-container .slide h2 {
	border-width: 0;
}

.faded,
.deck-container .slide h3 {
	color: #918C6E;
}

.deck-container .slide p {
	font-size: 2em;
}

.deck-container .slide pre {
	text-align: left;
	border-color: #918C6E;
}

.slide h1, .slide .vcenter {
	text-align: inherit;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.upper {
	text-transform: uppercase;
}

.syntaxhighlighter table td.code .container {
	padding-bottom: 5px !important;
}

.syntaxhighlighter .toolbar {
	display: none !important;
}

.deck-container .deck-status {
	color: #918C6E;
}

.deck-container .deck-prev-link, .deck-container .deck-next-link {
	background-color: #918C6E;
}

.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
	color: #ECE8CF;
}

.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
	background-color: #D90D3D;
}

